:root {
    /* we need a way more pleasing theme, get topher on the horn */
    --body-bg: #0e0e12;
    --bg-selector-color: #535369;
    --top-bar-color: #424254;
    /* swatch variables */
    --swatch-bg: #61ca61;
    /* add swatch variables*/
    --plus-icon-color: #fff;
    --add-swatch-bg: #838da5;
    --add-swatch-hover: #96a5cb;
  }
  body {
    background-color: var(--body-bg);
  }
  .top-bar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background: var(--top-bar-color);
  }
  .top-bar .bg-selector {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-selector-color);
    margin: 5px;
  }
  .top-bar .add-swatch-container {
    display: flex;
    height: 40px;
    width: 40px;
    margin: 5px;
    color: var(--plus-icon-color);
    font-size: 32px;
    cursor: pointer;
    transition-duration: 0.2s;
    justify-content: center;
    align-items: center;
    background-color: var(--add-swatch-bg);
    border-radius: 50%;
  }
  .top-bar .add-swatch-container:hover {
    background: var(--add-swatch-hover);
  }
  .top-bar .add-swatch-container:active {
    scale: 0.97;
  }
  .color-palette {
    display: flex;
    flex-flow: row wrap;
  }
  .color-palette ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .color-palette .swatch-container {
    height: 250px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .color-palette .swatch-container {
    background: var(--swatch-bg);
    justify-content: flex-end;
  }
  .color-palette .swatch-container .color-id-readout {
    cursor: pointer;
    height: 30px;
    width: 100%;
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    background: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
  .color-palette .swatch-container .color-id-readout::placeholder {
    color: inherit;
    text-align: inherit;
    font-size: inherit;
  }
  #mode-icon  {
    justify-self: flex-start;
  }

  
